# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Venv
.env/
.venv/
venv/

# Node
node_modules/

# Docker
Dockerfile*

dist/
build/
.coverage

# Local files
.env
.env.debug
secrets/
config/
.git
.gitignore